body{background: #fefefe}
h2{color: #1640AA}
.mainHeader{color: darkorange; font-size: 32px}
.sectionHeader{background: hotpink}
#realizacje p{color: green}
html body p{color: red;}
.aboutMe{color: blue;}